#favorites-holder
  .row
    -if current_renter
      -@favorites.each do |fav|
        .large-4.small-12.columns
          .favorite-box
            %ul.grid.cs-style-2
              %figure
                -if fav.office_listing.images.first.link_image.include? "http" || fav.office_listing.images.first.image
                  =image_tag "#{fav.office_listing.images.first.link_image || fav.office_listing.images.first.image}"
                -else 
                  =image_tag "http://www.cleaningforlondon.com/Portals/0/FlexibleOfficeSpace.jpg", class: "no-image"

                %figcaption
                  %h3 Want to see this space in person?
                  %span Contact tanay@aceoffice.com for details or check out upcoming showings: 
                  %a Showings



  / .appointments
  /   - @appointments.each do |appointment|
  /     .appointment
  /       =link_to appointment.viewing.office_listing.address, neighborhood_office_listing_path(neighborhood_id: appointment.viewing.office_listing.neighborhood.id, id: appointment.viewing.office_listing.id)
