#favorites-holder
  .row
    -if current_renter
      -@favorites.each do |fav|
        .large-4.small-12.columns
          .favorite-box
            %ul.grid.cs-style-2
              %figure
                -if fav.office_listing.images.first.link_image.include? "http" || fav.office_listing.images.first.image
                  =image_tag "#{fav.office_listing.images.first.link_image || fav.office_listing.images.first.image}"
                -else 
                  =image_tag "http://www.cleaningforlondon.com/Portals/0/FlexibleOfficeSpace.jpg", class: "no-image"

                %figcaption
                  %h3 Want to see this space in person?
                  %span Contact tanay@aceoffice.com for details or check out upcoming showings: 
                  / %a{:href => "#", :"data-reveal-id" => "viewings-dates-box", :remote => true, :controller => "viewings", :action => ""}
                  =button_to "Showings", {:controller => "viewings", :action => "individual_index", :office_listing_id => fav.office_listing.id}, :method => :get, :remote => true, :"data-reveal-id" => "viewings-dates-box"

  #viewings-dates-box.reveal-modal
    %h3 Upcoming Viewings:
    .viewings-dates
