<% @viewings.each do |viewing| %>
view = $("<li><button>Start time: <%= viewing.start_time %>, End time: <%= viewing.end_time %>, Date: <%= viewing.date %></button></li>")
$('.viewings-dates').append(view);
<% end %> 