.row
  .title-container.small-10.columns.small-centered
    Edit Notification Preferences

.row
  .neighborhoods-container.small-4.columns
    .neighborhoods-title
      Notify Me of New Postings in the Following Neighborhoods:
    
