@import 'colors';

#neighborhoods.index, #neighborhoods.add_listing {
  .neighborhood-box{
    width: 32%;
    height: 300px;
    margin: 5px;
    background-size: cover;
    font-size: 20px;
    padding-top: 150px;
    opacity: 0.9;
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    opacity: 1;

    &:hover {
    width: 32%;
    height: 300px;
    margin: 5px;
    background-size: cover;
    font-size: 20px;
    padding-top: 150px;
    color: red;
    opacity: 0.7;
    font-size: 30px;
    color: $sky-blue;
    text-align: center;
    font-weight: bold;
    }
  }

  .row {
    max-width: 70em;
  }

  .neighborhoods-page{
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .neighborhoods-page-add-listing{
    margin-top: 10px;
    margin-bottom: 150px;
  }

  .add-listing-heading{
    width: 100%;	
    margin-top: 150px;
    background-color: $pink;
  }

  .add-listing-label{
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 25px;
    padding: 20px;

  }
}
