.add-listing-heading
	%h1.add-listing-label Which neighborhood will this office be located in?
.row.neighborhoods-page-add-listing
	-@neighborhoods.each do |neighborhood|
		=link_to new_neighborhood_office_listing_path(neighborhood_id: neighborhood.id), id: neighborhood.name do
			.large-4.small-6.columns.neighborhood-box{:style => "background-image: url(#{image_path "#{neighborhood.img_url}"})"}
				=neighborhood.name	
