/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import 'foundation';
 @import 'foundation-icons';

 #broker_sign_in{
  margin-top: 150px;
 }

 #renter_sign_in {
  margin-top: 150px;
 }

 #renter_sign_up {
  margin-top: 150px;
 }

 #broker_sign_up {
  margin-top: 150px;
 }

 .reveal-modal a {
  font-size: 1em;
 }

.reveal-modal {
  background-color: rgba(255, 255, 255, 0.8);
 }
