$purple:  #3818A0;
$pink: #A0183C;
$off-white: #e2e2e2;
$off-white-faded: rgba(226, 226, 226, 0.85);
$deep-purple: #642e4a;
$deep-purple2: #6f2f4f;
$sky-blue: #b1c4e5;
$transparent-pink: rgba(160, 24, 60, 0.8);
