// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup{
	display: none;
}

.login{
	display: none;
}

.hidden{
	display: none;
}

.display_user{
	color: red;
}