// Place all the styles related to the OfficeListing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing{
	color: white;
}
.address{
	margin-top: 0px;
	margin-bottom: 0px;
}
#address{
	margin-top: 0px;
	margin-bottom: 0px;
}

.office-box{
	height: 322px;
}
.ind-office{
	width: 219px;
	height: 250px;
	background-size: cover;
}

#list-offices{
	margin-top: 150px;
}