console.log('listing created!!!')
var officeId = $("<input type='hidden' name='office_listing_id' value='<%= @office_listing.id %>'></input>")
var linkBack = $("<a class='button-large' id='return-to-listing' class='small' href='<%= @path %>'> View Office Listing </a>")
$('#listing-images').append(officeId)
$('#listing-attributes').addClass('hidden');
$('#listing-images').removeClass('hidden').hide().fadeIn(1500);
$('#image-buttons').append(linkBack);
