<% unless @broker == "" %>
  var broker_email = $('<div class="broker-name"><%= @broker.email %><%= link_to "&#215".html_safe, preference_list_remove_broker_path(renter_id: current_renter.id, broker_id: @broker.id), remote: true, method: "patch", class: "remove-preference" %></div>')
  $('.brokers-names').append(broker_email);
<% end %>
